.ProductCard {
  text-decoration: none;
  color: inherit;
  &__container {
    max-width: 305px;
    position: relative;
    &:hover .ProductCard__tap {
      height: 50px;
    }
  }
  &__picture {
    max-width: 100%;
    object-fit: contain;
  }
  &__notImage {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 100%;
    height: 375px;
  }
  &__info {
    &_desc, &_title {
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
    &_desc {
      margin: 0;
    }
  }
  &__tap{
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 0;
    top: 0;
    left: 0;
    right: 0;
    overflow-y: hidden;
    background: rgba($color: #000000, $alpha: .3);
    transition: height .5s ease;
    will-change: height;
    button {
      border:0;
      background: none;
    }
  }
}